
@font-face {
  font-family: 'Inter';
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mainWrapper {
  width: 100%;
  height:300px;
  font-family: 'Inter';
font-style: normal;
  

}

.contentWrapper {
  width: 100%;
  height:800px;
  font-family: 'Inter';
font-style: normal;
 
}

.heading  {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
width: 449px;
height: fit-content;
left: 118px;
top: 250px;

}

.headingTitle{
width: 450px;
height: 154px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 77px;
margin: 0px;
color: #FFFFFF;
}

.headingSub{
width: 450px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 29px;
margin: 0px;

color: #FFFFFF;


}

.headingButton{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 84px;
gap: 10px;
width: 400px;
height: 45px;
background: #31A05F;
border-radius: 42px;
border: none;
}

.butTitle{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 29px;
/* identical to box height */

text-align: right;

color: #FFFFFF;
margin: 0px;
}

.Results{ 
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
justify-content: center;

position: relative;
width: 100%;
height: 100vh;

background: #FFFFFF;
}

.resContainer{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 94px;

width: 879px;
height: fit-content;

}

.origContainer{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 392px;
height: fit-content;

}

.colorContainer{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 393px;
height: fit-content;

}

.bDownload{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 84px;


width: 879px;
height: 55px;

background: #31A05F;
border-radius: 16px;
border: none;
}
.dText{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 29px;
/* identical to box height */

text-align: right;

color: #FFFFFF;
margin: 0px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Upload a photo';
  display: inline-block;
  background: #31A05F;
  border: none;
  border-radius: 32px;
  padding: 12px 98px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.custom-file-input:hover::before {
  border-color: none;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.custom-file-input{
  width:450px;
}
